:root {
  --main-color: #0b132a;
  --second-main-color: #f53838;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

li {
  list-style: none;
}

a {
  text-decoration: none !important;
}

.top-part {
  width: 100%;
  background: #fdfdfd;
  border-radius: 30px;
}
button {
  font-family: "Rubik", sans-serif;
}

/*Navbar*/

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Rubik", sans-serif;
  width: 100%;
}
.nav-logo a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-logo h1 {
  font-weight: 500;
  color: var(--main-color);
}
.nav-links ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-links ul a {
  padding: 11px;
  color: #4f5665;
}
.nav .nav-authentication .sign-in-btn {
  border: none;
  background: transparent;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  color: var(--main-color);
}
.nav .nav-authentication .sign-up-btn {
  width: 120px;
  height: 40px;
  border: 2px solid var(--second-main-color);
  border-radius: 24px;
  background: transparent;
  color: var(--second-main-color);
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  color: var(--main-color);
}
.nav .nav-authentication .sign-up-btn:hover {
  background: var(--second-main-color);
  color: #fff;
}

.hide {
  display: none;
}

/*End Navbar*/

/*Home Styling*/
#home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
#home .product-ad {
  font-family: "Rubik", sans-serif;
  padding: 9em;
}
#home .product-ad h1 {
  font-weight: 600;
  color: var(--main-color);
  font-size: 50px;
}
#home .product-ad strong {
  font-weight: 800;
}
#home .product-ad p {
  color: #4f5665;
}
#home .product-ad button {
  width: 200px;
  height: 50px;
  background: var(--second-main-color);
  border: none;
  border-radius: 5px;
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
}
#home .product-ad button:hover {
  background-color: #f44a4a;
}
#home .home-img img {
  width: 700px;
}
/*End Home Styling*/

/*About US*/
.about-us {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.about-us .about-us-main {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  height: 180px;
  box-shadow: rgba(164, 130, 130, 0.2) 0px 8px 24px;
  border-radius: 20px;
  font-family: "Rubik", sans-serif;
}
.about-us .about-us-sections {
  display: flex;
  align-items: center;
  width: 15%;
  justify-content: space-around;
}
.about-us .users-about-icon {
  border-radius: 50%;
  background: #ffecec;
  width: 50px;
  height: 50px;
  color: var(--second-main-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
/*End About Us*/

/*Features*/
#features {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Rubik", sans-serif;
}
#features .features-img {
  padding: 5em;
}
#features .features-about {
  padding: 11em;
}
#features .features-about h1 {
  font-size: 40px;
  font-weight: 600;
  color: var(--main-color);
}
#features ul {
  padding: 0px;
}
#features ul li {
  display: flex;
  align-items: center;
  color: #2fab73;
}
#features .features-about p {
  color: #4f5665;
  padding: 10px;
}
/*End Features*/

/*Features*/
#plan {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  background: #f9f9fa;
}
#plan .plan-containers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.plan-containers .plan-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
  height: 950px;
  width: 400px;
  border: 2px solid rgb(245, 56, 56, 0.6);
  margin: 20px;
  padding: 20px;
  border-radius: 30px;
  transition: 0.2s;
}
.plan-container:hover {
  border: 2px solid rgb(245, 56, 56);
}
.plan-container ul li {
  display: flex;
  align-items: center;
}
.plan-container button {
  width: 200px;
  height: 45px;
  border: 2px solid var(--second-main-color);
  border-radius: 30px;
  background: transparent;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  transition: 0.3s ease-in-out;
}
.plan-container button:hover {
  background: var(--second-main-color);
  color: #fff;
}

#affiliates {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
}
.affiliates-title {
  width: 530px;
  color: var(--main-color);
}
.affiliates-title h1 {
  font-size: 50px;
  font-weight: 600;
}
.affiliates-map {
  width: 100%;
}
.affiliates-map .map-img {
  width: 100%;
}
.partners {
  display: flex;
  align-items: center;
  justify-content: center;
}
.partners img {
  width: 200px;
  padding: 30px;
  opacity: 30%;
}

#customers {
  text-align: center;
  padding: 0px 10% 0px 10%;
}
.swiper {
  width: 100%;
  height: 100%;
  text-align: start;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px !important;
  height: 300px !important;
}
.swiper-pagination-bullet-active {
  width: 30px !important;
  border-radius: 5px !important;
  background-color: var(--second-main-color) !important;
  transition: 0.4s ease-in-out;
}
.swiper-button-prev,
.swiper-button-next {
  color: var(--second-main-color) !important;
}
.swiper-settings {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-header img {
  width: 50px;
  border-radius: 50%;
}
.card-header .person-data {
  display: flex;
  align-items: center;
  justify-content: center;
}
.person-data h3 {
  font-size: 18px;
}

.subscribe-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  background: #fff;
  height: 100px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 50px;
  border-radius: 10px;
}
.subscribe-section button {
  width: 180px;
  height: 40px;
  border: 2px solid var(--second-main-color);
  background: transparent;
  border-radius: 30px;
}

#contact {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 100px;
}
#contact .contact-data {
  width: 40%;
  display: flex;
  align-content: space-around;
  justify-content: center;
  flex-direction: column;
}
#contact .contact-data p {
  color: #4f5665;
}
#contact .contact-data h2 {
  display: flex;
  align-items: center;
}
#contact .sm-links {
  display: flex;
  align-items: center;
  height: 60px;
}
#contact .sm-links div {
  width: 50px;
  height: 50px;
  background-color: #ffecec;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  transition: 0.3s ease-in-out;
}
#contact .sm-links div:hover {
  border: 1px solid var(--second-main-color);
}
#contact .sm-links div svg {
  color: var(--second-main-color);
}
#contact .contact-links {
  display: flex;
  justify-content: center;
}
#contact .contact-links div p {
  text-align: center;
}

#contact .contact-links li {
  color: #4f5665;
  margin: 20px;
  letter-spacing: 1px;
}

@media screen and (max-width: 1080px) {
  .home-img img {
    width: 100% !important;
  }
}

@media screen and (max-width: 700px) {
  .hide {
    display: block;
  }
  .nav-links {
    display: none;
  }
  .nav-links.active {
    position: absolute;
    display: block;
    top: 80px;
    background: #fdfdfd;
    width: 100%;
  }
  .nav-links ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .nav-links ul li {
    margin: 10px;
  }
  /*Home*/

  #home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
    padding: 0px;
  }
  .product-ad {
    padding: 0px !important;
  }
  #home .home-img img {
    width: 100%;
  }

  .about-us {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
  }
  .about-us .about-us-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 500px;
  }
  .about-us .about-us-main .about-us-sections {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .top-part {
    margin-top: 150px;
    text-align: center;
  }

  #features {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 150px;
    text-align: center;
    width: 100%;
  }
  .features-img {
    padding: 0;
  }
  .features-img img {
    width: 100%;
  }
  .features-about {
    padding: 0 !important;
  }
  #features ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .plan-containers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .plan-container {
    padding: 0px !important;
  }

  .affiliates-title {
    width: 90%;
  }
  .partners {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .swiper-slide {
    width: 300px !important;
  }

  .subscribe-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    margin-top: 100px;
  }

  #contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px !important;
  }
  .contact-links {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .contact-links div p {
    width: 220px;
  }
}

@media screen and (max-width: 430px) {
  .plan-container {
    width: 97%;
  }
  .product-ad {
    padding: 0px;
  }
  .product-ad h1 {
    font-size: 40px;
  }
  .features-img {
    padding: 0;
  }
}
